.building-cv {
    background-image: url('../img/bg-finished-cv.jpg');
    background-size: contain;
    background-repeat: repeat;
}

.building-cv:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.6;
}

.cv-sections .card-body {
  	animation-name: slideDown;
  	animation-duration: 3.5s;
  	animation-iteration-count: 1;
  	-webkit-animation-name: slideDown;
  	-webkit-animation-duration: 3.5s;
  	-webkit-animation-iteration-count: 1;
}

.cv-preview {
	overflow: hidden;
}

.cv-preview img {
	transition: transform .5s ease;
}

.cv-preview:hover img {
	transform: scale(1.3);
}

.cv-preview button {
    color: white;
    border-color: white;
    background-color: rgba(48, 132, 42, 0.7);
    border-radius: 4px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 50%;
	z-index: 1;
}

.cv-preview button:hover {
    color: black;
    background-color: white;
    border-color: black;
}

.cv-sections h4 {
    font-weight: 400;
}

.profile-photo {
	background-image: url('../img/profile_coat.png');
	background-size: cover;
	background-position: center;
	width: 170px;
	height: 170px;
	transition: all .35s;
	text-transform: lowercase;
}

.profile-photo:first-letter {
	text-transform: uppercase;
}

.profile-photo:hover {
	text-shadow: 2px 1px 1px rgba(0,0,0,1);
	box-shadow:inset 0 0 0 2000px rgba(51,51,30,0.5);
}

.profile-photo:hover:before {
	content: "Subir foto";
}

#summary_wrapper > .input-group {
    padding-left: 0;
    padding-right: 0;
}

#rename_title {
    padding: 0 0.5rem;
    margin-left: 0.5rem;
}

#change_summary_title, #cancel_summary_title {
    width: 3rem;
}

.custom-control-label {
	cursor:pointer;
}

.section-not-visible {
    opacity: 0.6;
    pointer-events: none;
}

.summary-block-wrapper {
    overflow: hidden;
}

.contracted-block h5 {
    font-size: 17px;
	position: relative;
    top: 25%;
}

.edit-block, .remove-block {
	font-size: 17px;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

.section-item-separator {
	margin-top: 4em;
	max-width: unset;
	border-color: #28a745;
	border-style: dashed;
}

form[id$=_form] {
  	animation-name: slideDown;
  	animation-duration: 3.5s;
  	animation-iteration-count: 1;
  	-webkit-animation-name: slideDown;
  	-webkit-animation-duration: 3.5s;
  	-webkit-animation-iteration-count: 1;
}

.navigation-buttons-fixed {
    position: fixed;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    z-index: 1;
    backdrop-filter: blur(4px); /* solo en chrome funciona */
}

.modal {
    padding-right: 0px !important;
}

.cv-preview-img {
    max-height: calc(100vh - 225px);
    border-radius: 4px;
    border: 1px #D3D3D3 solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn-wizard-arrow {
    width: 2.5rem;
    height: 2.5rem;
    letter-spacing: unset;
}

.btn-wizard-arrow:first-of-type {
    position: absolute;
    left: 0.4rem;
    top: 50%;
}

.btn-wizard-arrow:nth-of-type(2) {
    position: absolute;
    right: 0.4rem;
    top: 50%;
}

#successfulMessage {
    position: fixed;
    z-index: 999;
    top: 8%;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    animation-name: slideLeft;
  	animation-duration: 3.5s;
  	animation-iteration-count: 1;
  	-webkit-animation-name: slideLeft;
  	-webkit-animation-duration: 3.5s;
  	-webkit-animation-iteration-count: 1;
}

/*@media (min-width: 576px) {
  .list-group-row {
    display: block;
  }
}

@media (min-width: 768px) {
  .list-group-row {
    display: none;
  }
}

@media (max-width: 576px) {
  .btn-group-row {
    display: none;
  }
}*/
