@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  src: url('../fonts/Catamaran-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Arimo';
  src: url('../fonts/Arimo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxygen';
    src: url('../fonts/Oxygen-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kalam Light';
    src: url('../fonts/Kalam-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans SemiBold';
  src: url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
}

/*html {
  scroll-behavior: smooth;
}*/

#root {
  height: 100%;
}

#root > section {
  min-height: calc(100% - 128px);
}

.custom-control-label:hover {
  cursor: pointer;
}

#mainNav.navbar-shrink {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.btn-myaccount {
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid;
}

.btn-myaccount:hover {
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(97,187,148,.3);
}

.btn-group > .btn-myaccount:not(:last-child):not(.dropdown-toggle) {
    border-right: none;
}

.btn-group > .btn-group:not(:first-child) > .btn-myaccount, .btn-group > .btn-myaccount:not(:first-child) {
    margin-left: 0;
    padding-left: 0.75rem;
}

header.masthead {
	background-size: cover;
	background-attachment: fixed;
}

.overlay {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 64, 15, 0.41);
}

header.masthead .container-content {
	position: relative;
	z-index: 1;
}

.blur {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url('../img/bg-cta.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    filter:blur(10px);
    transition: filter .5s ease;
    backface-visibility: hidden;
}

.sign-in-account {
    background-image:url('../img/bg-cta.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.sign-in-account:before {
    content: '';
    display: block;
    background-color: rgba(140, 152, 138, 0.4);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.error-page-bg {
    background-image: url('../img/bg-cta2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.error-page-bg .jumbotron {
  background-color: rgba(220, 53, 69, 0.9);
  color: white;
  backdrop-filter: blur(4px);
}

.vh-100 {
	min-height: 100vh;
}

section a {
  border-radius: 4px;
  padding: 0 0.125rem;
  color: #28a745;
}

section a:hover {
	color: white;
	text-decoration: none;
	background-color: #4cb751;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #50982d;
    text-shadow: 1px 1px 2px #000000aa;
}

::selection {
    color: white;
    background: #2bb746;
    text-shadow: 1px 1px 2px #000000aa;
}

.connect-with div a {
    font-size: 2em;
    padding: 0em 0.5rem;
    border-radius: 4px;
}

.social-media a {
	color: rgba(255,255,255,.3);
	font-size: 2em;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.social-media a:hover {
	color: white;
	background-color: unset;
}


/* spinner svg */
#spinner_loading_wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    font-family: 'IBM Plex Sans';
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
}

#spinner {
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
  top: 47%;
}

#spinner > svg {
  /*position: absolute;
  left: 50%;*/
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 1.2s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  animation-name: rotate; 
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.btn > svg {
  position: unset !important;
  left: unset !important;
}

.alert-wrapper {
  position: fixed;
  top: 4rem;
  text-align: center;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  animation-name: notificationSlideDown;
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-name: notificationSlideDown;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  box-shadow: 0 1px 5px 2px rgba(0,0,0,0.15);
}

.spinner {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 3.5em;
  height: 3.5em;
  border: 3px solid transparent;
  border-top-color: #3ac540;
  border-bottom-color: #3ac540;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.spinner:before {
  content: '';
  display: block;
  margin: auto;
  width: 0.75em;
  height: 0.75em;
  border: 3px solid #3ac540;
  border-radius: 50%;
  animation: pulse 1s alternate ease-in-out infinite;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes notificationSlideDown {
  0% {
    transform: translate(-50%,-100%);
  }
  14.28% {
    transform: translate(-50%,0);
  }
  85.71% {
    transform: translate(-50%,0);
  }
}

@-webkit-keyframes notificationSlideDown {
  0% {
    transform: translate(-50%,-100%);
  }
  14.28% {
    transform: translate(-50%,0);
  }
  85.71% {
    transform: translate(-50%,0);
  }
}

@keyframes notificationSlideUp {
  0% {
    transform: translate(-50%,0);
  }
  14.28% {
    transform: translate(-50%,0);
  }
  85.71% {
    transform: translate(-50%,-200%);
  }
}

@-webkit-keyframes notificationSlideUp {
  0% {
    transform: translate(-50%,0);
  }
  14.28% {
    transform: translate(-50%,0);
  }
  85.71% {
    transform: translate(-50%,-200%);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}